:root {
    --dollar-green: #85bb65;
}

body {
    background-color: #eee;
}

.dollar-green {
    color: var(--dollar-green);
}

.danger {
    color: #ff0800;
}

/*
* Bill header
*
*/

.bill-header {
    border-bottom: 1px solid #ddd;
}

.bill-header .nav li a{
    color: #000000;
    font-weight: 700;
}

.bill-header .nav li a:hover {
    color: var(--dollar-green);
    background: none;
}

.bill-header .nav li.active a {
    color: var(--dollar-green);
}

.bill-logo-wrapper {
    padding: 30px 0 30px 0;
}

.jobs-table {
    width: 100%;
}

.jobs-col {
    margin-top: 10px;
}

.btn-dollar-green {
    background-color: var(--dollar-green);
    color: #000;
    font-weight: 700;
    margin: 20px 0 20px 0;
}

/*
* Bill index - list of bills
*
*/

.bill-list-table {
    width: 100%;
}

.bill-list-table tr td, th {
    padding: 15px 15px 15px 15px;
}

.bill-list-table tbody tr {
    border-bottom: 1px solid #ddd;
}

.bill-list-table thead {
    border-bottom: 2px solid #ddd;
}

.download-icons a, .download-icons span {
    color: var(--dollar-green);
    padding-right: 10px;
    font-size: 18px;
    cursor: pointer;
}

.download-icons a:last-child {
    padding-left: 0;
}

.buttons-col {
    margin-top: 5px;
}

.paid-modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    background: rgba(0,0,0,.7);
    display: none;
}

.paid-modal .modal-content {
    position: absolute;
    z-index: 3;
    top: 30%;
    bottom: 30%;
    left: 30%;
    right: 30%;
}

.paid-modal .modal-content .fa {
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 22px;
    cursor: pointer;
}

/*
* New bill
*
*/

.circle-button {
    padding: 2px 6px;
    font-size: 12px;
    border: 1px solid;
    color: var(--dollar-green);
    cursor: pointer;
    border-radius: 100%;
}

.circle-button.add {
    border-color: var(--dollar-green);
}

.circle-button.delete {
    color: #ff0800;
    border-color: #ff0800;
}